<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/script.js"></script>
<h1>Quote: <%=quote%></h1>
<form method="post" id="changeQuote">
    <input
            type="text"
            placeholder="Set quote"
            name="quote"
            id="value-name"
    />
    <input type="submit" value="Save"/>
</form>